.crd-main{
        background: #03256C;
        box-shadow:0 0.3rem 0.8rem rgb(0 0 0 / 12%);
}
.crd-main:hover, .crd-main-1:hover, .crd-main-2:hover{
        transition:all .5 ease-in-out;
        transform: translateY(-5px);
        cursor: pointer;
        box-shadow: 0 0.9rem 0.8rem #aeaeae;
}
.md-side-card{
        background-color: #019c73;
        font-size: 20px;

}
.md-side-card > label{
        font-family: arial !important;
        padding:8px;
        margin:5px;
}
.md-side-card-1, .md-side-card-3{
        font-size: 20px;

}
.md-side-card-1 > label{
        color:#000 !important;
        padding:8px;
        margin:5px;
        font-family: arial !important;
}
.md-side-card-1 > label:nth-child(2){
        color:red !important;
}
.md-side-card-3{
        background: #CD113B !important;
}
.md-side-card-3 > label{
        padding:8px;
        margin:5px;
        font-family: arial !important;
}

.card-body{
        color:#fff;
        
}

p{
        color:#ffffff;
}

.crd-main-1{
        background: #607d8b;
}

.crd-main-2 {
        background: #55981a;
        /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
}

.ico-transition:hover{
cursor: pointer;
transition: all .5s ease-in-out;
transform: translateX(5px);
}

p, label, h1, h2, h3,h4{
        font-family: arial,helvetica;
}

#mainDivBoxShadow{
        box-shadow: 0 0.2rem 0.8rem #aeaeae;

}