<div class="row col-md-12 mt-1 mr-2" style="margin:13px;">
  <div class="row col-md-12">
    <div class="col-md-4">
      <div class="card  crd-main mt-3">
        <div class="card-body row">
          <div class="col-md-8">
            <h4>Orders</h4>
            <p style="line-height:0px; font-size: .775em">
              150 New Orders
            </p>
          </div>
          <div class="ico-class col-md-4">
            <i class="fa fa-address-book mt-0 pull-right"></i>
          </div>
        </div>
        <hr style="color:#f1eaea;" />
        <p style="margin:auto; margin-top:-10px;">
          View more&nbsp;<span
            class="ico-transition fa fa-arrow-right"
            aria-hidden="true"
          ></span>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card  crd-main-1 mt-3">
        <div class="card-body row">
          <div class="col-md-8">
            <h4>Revenue Collected</h4>
            <p style="line-height:0px; color:#FFFFFF; font-size: .775em">
              $ 1500 Collected
            </p>
          </div>
          <div class="ico-class col-md-4">
            <i class="fa fa-usd mt-0 pull-right"></i>
          </div>
        </div>
        <hr style="color:#f1eaea;" />
        <p style="margin:auto; margin-top:-10px;">
          View more&nbsp;<span
            class="fa fa-arrow-right ico-transition"
            aria-hidden="true"
          ></span>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card  crd-main-2 mt-3">
        <div class="card-body row">
          <div class="col-md-8">
            <h4 >POs</h4>
            <p style="line-height:0px;  font-size: .775em">
              75 New POs
            </p>
          </div>
          <div class="ico-class col-md-4">
            <i class="fa fa-check mt-0 pull-right"></i>
          </div>
        </div>
        <hr style="color:#000000;" />
        <p style="margin:auto; margin-top:-10px;">
          View more&nbsp;<span
            class="ico-transition fa fa-arrow-right"
            aria-hidden="true"
          ></span>
        </p>
      </div>
    </div>
  </div>

  <div class="row col-md-12 mt-3">
    <div class="col-md-6">
      <div class="card" id="mainDivBoxShadow">
        <div class="card-body">
          <div style="display: block;">
            <canvas
              baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [colors]="barChartColor"
              [chartType]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 row">
      <div class="col-md-6">
        <div class="card col-md-12" id="mainDivBoxShadow">
          <div class="card-body md-side-card">
            <label>Total Suscription</label>
            <label
              style="display: flex; margin-top:-17px; justify-content: space-between;"
              >1125&nbsp;<i class="fa fa-thumbs-up pull-right"></i
            ></label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card col-md-12" id="mainDivBoxShadow">
          <div class="card-body md-side-card-1">
            <label>Total Comment</label>
            <label
              style="display: flex; margin-top:-17px; justify-content: space-between;"
              >1125&nbsp;<i class="fa fa-book pull-right"></i
            ></label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card col-md-12">
          <div class="card-body md-side-card-1" id="mainDivBoxShadow">
            <label>Income</label>
            <label
              style="display: flex; margin-top:-17px; justify-content: space-between;"
              >1125&nbsp;<i class="fa fa-usd pull-right"></i
            ></label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card col-md-12">
          <div class="card-body md-side-card-3" id="mainDivBoxShadow">
            <label>Earning Indices</label>
            <label
              style="display: flex; margin-top:-17px; justify-content: space-between;"
              >1125&nbsp;<i class="fa bi-file-bar-graph-fill pull-right"></i
            ></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 row mt-3">
      <div class="col-md-6 ">
          <div class="card col-md-12">
            <div class="card-body " id="mainDivBoxShadow" style="color:black !important;">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Contributor</th>
                        <th scope="col">Author</th>
                        <th scope="col">Words</th>
                        <th scope="col">Shares</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck1" checked>
                          </div>
                        </td>
                        <td>Kabin</td>
                        <td>Testuser</td>
                        <td>913</td>
                        <td>2.846</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck2">
                          </div>
                        </td>
                        <td>Sagar</td>
                        <td>Testuser</td>
                        <td>1.434</td>
                        <td>3.417</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3">
                          </div>
                        </td>
                        <td>Users</td>
                        <td>Cristina</td>
                        <td>1.877</td>
                        <td>1.234</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3">
                          </div>
                        </td>
                        <td>Users</td>
                        <td>Cristina</td>
                        <td>1.877</td>
                        <td>1.234</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3">
                          </div>
                        </td>
                        <td>Users</td>
                        <td>Cristina</td>
                        <td>1.877</td>
                        <td>1.234</td>
                      </tr>
                      <tr>
                        <td>
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck3">
                          </div>
                        </td>
                        <td>Users</td>
                        <td>Cristina</td>
                        <td>1.877</td>
                        <td>1.234</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
      
          </div>
                      
        </div>
      
        <!-- line chart section -->
        <div class="col-md-6">
          <div class="card" id="mainDivBoxShadow">
            <div class="card-body">
              <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [colors]="lineChartColors"
                [legend]="barChartLegend"
                [chartType]="lineChartType"
              ></canvas>
            </div>
          </div>
        </div>
  </div>

  
</div>
