/* .bg-dark {
    background: #444444 !important;
} */

.main-menu-container{
    display: flex;
    justify-content: flex-end;
    letter-spacing: 2px;
    margin: 0.1em;
    padding: .2em;
    font-family: arial,helvetica;
    margin-left: -19px;
    /* margin-top: 1.13em; */
}

.user-ico{
    color:#ffffff;
}
