<nav class="navbar navbar-dark" [ngStyle]="{'background-color': '#444444' }">
  <div class="container-fluid main-menu-container">
    <a class="navbar-brand" [routerLink]="['/home']">Home</a>
        <a class="navbar-brand" [routerLink]="['/createStudent']">Create Student</a>
  </div>
</nav>
<router-outlet></router-outlet>
