
 <button type="button" class="btn btn-primary btn-css mt-2" data-bs-toggle="modal"  data-bs-target="#addBatch">Add Batch</button>
 <button type="button" class="btn btn-primary btn-css mt-2" data-bs-toggle="modal"  data-bs-target="#addStudent">Add Student</button>

<div class="col-md-12 row mt-3">
    <div class="col-md-3">

    </div>
    <div class="col-md-12 ">
        <div class="card col-md-12">
          <div class="card-body " id="mainDivBoxShadow" style="color:black !important;">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Batch Id</th>
                      <th scope="col">Batch Year</th>
                      <th scope="col">Batch Count</th>
                      <th scope="col">Faculty</th>
                      <th scope="col">College Name</th>
                      <th scope="col">College Address</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let s of studentsDetailsList; let i = index;">
                    <tr>
                        <td><span [ngClass]="index === 0 ? 'fa fa-arrow-down': 'fa fa-arrow-right'" (click)="showStudentDetails(s, i)"></span></td>
                     <td>{{s.batch.batchId}}</td>
                     <td>{{s.batch.batchYear}}</td>
                     <td>{{s.batch.batchCount}}</td>
                     <td>{{s.batch.faculty}}</td>
                     <td>{{s.batch.collegeName}}</td>
                     <td>{{s.batch.collegeAddress}}</td>
                    </tr>
                    <td *ngIf="index === i" colspan="1"></td>
                    <td *ngIf="index === i" colspan="6">
                        <div class="col-md-12 row">
                                <div class="col-md-3"></div>
                                <table class="table table-bordered col-md-8" >
                                        <thead>
                                                <tr class="studentDetailsT2">
                                                        <th scope="col">Student Id</th>
                                                        <th scope="col">Student Name</th>
                                                        <th scope="col">Gender</th>
                                                        <th scope="col">Action</th>
                                                    </tr>
                                            </thead>
                                            <tbody>
                                                    <tr *ngFor="let stu of s.students; let i = index;">
                                                    <td>{{stu.studentId}}</td>
                                                    <td>{{stu.studentName}}</td>
                                                    <td>{{stu.Gender}}</td>
                                                    <td><span class="fa fa-pencil" data-bs-toggle="modal" data-bs-target="#addStudent" (click)="updateStudent(stu)"></span>
                                                        <span style="margin:6px;" class="fa fa-trash"  (click)="delete(i)"></span>
                                                    </td>

                                                   </tr>
                                            </tbody>
                                   
                                </table>
                        </div>
                            
                    </td>
                  
                  </tbody>
                </table>
          </div>    
        </div>                    
      </div>     
</div>

<!-- displaying modal -->


<div class="modal fade" id="addBatch" tabindex="-1" aria-labelledby="batchModalLbl" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Student Batch</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="col-md-12 row">
                    <div class="mb-3 col-md-6">
                            <label for="batchId" class="col-form-label">Batch Id</label>
                            <input type="text" class="form-control" name="batchid" [(ngModel)]="studentBatch.batchId" id="recipient-name">
                      </div>
            
                      <div class="mb-3 col-md-6">
                            <label for="batchId" class="col-form-label">Batch Year</label>
                            <input type="text" class="form-control" name="batchid" [(ngModel)]="studentBatch.batchYear" id="recipient-name">
                      </div>
            
                      <div class="mb-3 col-md-6">
                            <label for="batchId" class="col-form-label">Batch Count</label>
                            <input type="text" class="form-control" name="batchid" [(ngModel)]="studentBatch.count" id="recipient-name">
                      </div>

                      <div class="mb-3 col-md-6">
                            <label for="batchId" class="col-form-label">Faculty</label>
                            <input type="text" class="form-control" name="batchid" [(ngModel)]="studentBatch.faculty" id="recipient-name">
                      </div>
            
            </div>
         
         
        
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addBatch()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addStudent" tabindex="-1" aria-labelledby="studentModalLbl" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{studentLbl}} Student</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="col-md-12 row">
                        <div class="mb-3 col-md-6">
                                <label for="batchId" class="col-form-label">Batch</label>
                                <select class="form-select" aria-label="Default select example">
                                        <option selected>Select Batch</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                      </select>
                          </div>

                          <div class="mb-3 col-md-6">
                                  <label for="batchId" class="col-form-label">Student Name *</label>
                                  <input (keyup)="validateNumber(student.studentName)" type="text" class="form-control" name="stundentName" [(ngModel)]="student.studentName" >
                                  <label *ngIf="tryToSave && !student.studentName" style="color:red;">Required</label>
                            </div>
                  
                            <div class="mb-3 col-md-6">
                                  <label for="batchId" class="col-form-label">Student Id *</label>
                                  <input type="text" class="form-control" name="studentId" [(ngModel)]="student.studentId" >
                                  <label *ngIf="tryToSave && !student.studentId" style="color:red;">Required</label>

                            </div>
                  
                            <div class="mb-3 col-md-6">
                                  <label for="batchId" class="col-form-label">Gender *</label>
                                  <input type="text" class="form-control" name="gender" [(ngModel)]="student.Gender" >
                                  <label *ngIf="tryToSave && !student.Gender" style="color:red;">Required</label>

                            </div>
      
                            <div class="mb-3 col-md-6">
                                  <label for="batchId" class="col-form-label">Phone Number *</label>
                                  <input (keyup)="checkLength(student.studentName)" type="text" pattern="\d*" maxlength="10"  class="form-control" name="phoneNumber" [(ngModel)]="student.phoneNumber">
                                  <label *ngIf="tryToSave && !student.phoneNumber" style="color:red;">Required</label>


                            </div>
                  
                  </div>
               
               
              
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="addStudent()">Save</button>
            </div>
          </div>
        </div>
      </div>